.relatedListUl {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-around;
  padding-left: 0px;
}

@media (max-width: 1000px) {
  .relatedListUl {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 700px) {
  .relatedListUl {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 500px) {
  .relatedListUl {
    grid-template-columns: 1fr;
  }
}
