@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');

button {
  transition: all 300ms ease;
}

button:hover {
  transform: scale(1.05);
}

.header {
  display: flex;
  width: 100%;
  height: 13vh;
  box-sizing: border-box;
  padding-left: 2%;
  padding-right: 2%;
  justify-content: space-between;
  background-color: #272727;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  font-family: 'Sigmar', cursive;
}

.headerTitle {
  background-color: transparent;
  border: none;
  color: rgb(247, 142, 4);
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
}

.headerBtnSection button {
  height: 100%;
  background-color: transparent;
  border: none;
  color: rgb(247, 142, 4);
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 15px;
}

.headerIcon {
  margin-right: 6px;
}

@media (max-width: 500px) {
  .headerSpan {
    display: none;
  }
  .headerBtnSection button {
    margin-right: 5px;
    font-size: 17px;
  }

  .headerTitle {
    margin-left: 5px;
    font-size: 20px;
  }
}
