.playerBar {
  background-color: rgb(231 163 74);
  opacity: 0.9;
  width: 600px;
  height: 55px;
  position: fixed;
  bottom: 30px;
  display: flex;
  align-items: center;
  left: 20%;
  justify-content: space-between;
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 25px;
  box-shadow: 5px 5px 5px rgb(188 145 84);
}

.playerContent {
  display: block;
  width: 230px;
  text-align: left;
  line-height: 22px;
}

.playerBar img {
  background-color: transparent;
  border-radius: 50px;
  width: 75px;
  height: 75px;
  box-shadow: 5px 5px 16px 3px rgb(83 74 57);
}

.playerTitle {
  font-weight: bold;
  font-size: 13px;
  color: #000000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  opacity: 0.83;
}

.playerChnnel {
  font-weight: bold;
  opacity: 0.6;
  font-size: 8px;
}

.playerVolume {
  background-color: '#ececec';
  accent-color: #272727;
}

.startBtn {
  background-color: transparent;
  border: none;
  height: 80%;
  cursor: pointer;
}
