li {
  color: aliceblue;
  list-style-type: none;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 10%;
}

p {
  margin: 0;
}

.videoContent {
  text-align: left;
}

.title {
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 10px;
  opacity: 0.85;
  line-height: 19px;
}

.channelTitle {
  font-size: small;
  opacity: 0.6;
  margin-bottom: 5px;
}

.publishedAt {
  font-size: small;
  opacity: 0.6;
}

.videoImg {
  width: 100%;
  cursor: pointer;
  border-radius: 15px;
  transition: all 300ms ease;
}

.videoImg:hover {
  border-radius: 0px;
}
